body {
    font-family: sans-serif;
    /* fixed */
    /*
    max-width: 800px;
    min-width: 400px;
    */

    /* fluid */
    /*
    width: 100vw;
    box-sizing: border-box;
    */

    margin: 0 auto;
    padding: 20px;
    background: #4dfbff;
    min-height: 100vh;
}
.container {
    background: white;
    padding: 1px 20px 10px 20px;
    border-radius: 10px;
    box-shadow: 0 10px 40px rgba(0,0,0,0.2);
    margin-bottom: 30px;
}
.content {
    background: white;
    padding: 0px 0px;
    width: 100%;
}
h1 {
    color: #333;
    border-bottom: 3px solid #55ff4d;
    padding-bottom: 10px;
}
p {
    color: #666;
    line-height: 1.6;
}
li {
    margin-bottom: 10px;
}
code {
    background: #333;
    color: #f8f8f2;
    padding: 2px 6px;
    border-radius: 3px;
    font-family: monospace;
}
